
{% extends "website_base.njk" %}
{% set posturl = skill/create %}

{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block content %}
    <section class="formsection">
    	<div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-sm-12 col-md-8" id="main_div">
                <div class="page-header">
                    <h1 class="text-center projheading"><em><span style="text-decoration: underline;">About the Skills</span></em></h1>
                </div>

                {% include "reuse_skill.njk" %}
                    <div class="form-group row">
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 offset-4"><button class="btn btn-success text-center" id="skillsubmitbutton" name="skillsubmitbutton" type="submit">Submit</button></div>
                    </div>
                </form>
                
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 success" id="response"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
{% endblock %}


