
{% extends "website_base.njk" %}


{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block createOwnerbutton %}
    <a class="btn btn-outline-danger" role="button" id="projectcreateuser" data-toggle="tooltip" data-placement="top" title="Create your User Profile" href="create_owner_portfolio">Create Owner</a>
{% endblock %}

{% block loginbutton %}   {% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean">
                <div class="container-fluid"><a class="navbar-brand" href="#">Brand Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#about_section">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#project_section">Projects</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contact_section">Contact</a></li>
                        </ul><a class="btn btn-outline-danger" role="button" id="projectcreateuser" data-toggle="tooltip" data-placement="top" title="Create your User Profile" href="login.html">Create Owner</a><a class="btn btn-outline-success" role="button" id="projectlogin" data-toggle="tooltip" data-placement="top" title="To Create, Update and Delete; Login as Admin" href="login.html">login</a><a class="btn btn-outline-primary" role="button" id="projectlogout" data-toggle="tooltip" data-placement="top" title="Sign Out" href="login.html">Sign out</a><a class="btn btn-outline-danger" role="button" id="projectcreatedemouser" data-toggle="tooltip" data-placement="top" title="Add a demo user: This will be used by user to quickly test live demos" href="login.html">Demo User</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <section id="about_section" class="showcase" style="padding-top: 80px;">
        <div class="row no-gutters">
            <div class="col-lg-4 text-white order-lg-2">
                <div><img class="rounded-circle img-fluid" src="assets/img/My%20project.png" style="text-align: center;"></div>
            </div>
            <div class="col-lg-8 my-auto order-lg-1" style="padding-right: 50px;padding-left: 80px;">
                <h2 class="text-wrap" style="text-align: center;">Job Title</h2>
                <p class="lead mb-0">&nbsp;Lorem ipsum dolor sit amet. Aut minus nulla sit laudantium voluptatem ex autem dolorem et officia aliquam. Cum mollitia officiis hic tempore voluptates aut maxime labore. Ut galisum consequatur est laborum tempore aut libero nisi et magni enim id voluptatem distinctio sed voluptatem magnam 33 magni similique. Eos nemo earum est corrupti voluptas sit illo quos et voluptas officia eum nihil repellat aut perferendis internos. Est odio saepe eum minus omnis et rerum aperiam qui dolores explicabo eos sunt asperiores. In placeat quaerat et quasi quidem aut fuga maiores sit ducimus galisum est cupiditate sequi est nobis tempora. At fugiat atque in nihil provident At distinctio voluptas in fugiat voluptatem ad maxime harum et nesciunt dolore vel voluptatum odio. Et quae illo non recusandae harum cum necessitatibus praesentium. Sed tempore tenetur vel beatae corrupti et expedita omnis a aliquam asperiores ut enim quia.</p>
            </div>
        </div>
    </section>
    <section class="text-center bg-light features-icons" id="project_section" style="background: rgb(248, 249, 250);padding-bottom: 0px;padding-top: 50px;">
        <div class="row">
            <div class="col">
                <p style="text-align: left;font-size: 20px;">These are three of my recent project but you can&nbsp;<a href="#">view all of them</a>;</p>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">All projects</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p>The content of your modal.</p>
                            </div>
                            <ul class="text-nowrap text-break font-weight-light" style="text-align: justify;overflow: visible;">
                                <li>oooo</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                                <li>Item 4</li>
                            </ul>
                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div><img class="img-thumbnail img-fluid bg-light border-0" style="width: 300px;height: 300px;margin-top: -4px;" src="assets/img/project1.jpg"></div>
                    <h3>Project One&nbsp;</h3>
                    <p class="lead text-left mb-0">Sit soluta nobis 33 placeat velit qui cumque labore in ducimus sequi! Et&nbsp;autem temporibus At autem consequatur ut accusamus iure et iusto autem et assumenda molestiae!<a href="#projectmodal" data-toggle="modal">Read more</a></p>
                    <div class="modal fade" role="dialog" tabindex="-1" id="projectmodal">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="text-align: center;">Project One</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <section class="showcase">
                                        <div class="container-fluid p-0">
                                            <div class="row">
                                                <div class="col-lg-6 text-white align-self-center order-lg-2"><video class="border rounded-0" width="390" height="315" controls="" style="margin-right: 0px;" preload="auto" poster="assets/img/project1.jpg">
                                                        <track kind="subtitles">
                                                    </video>
                                                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="hjn" allowfullscreen=""></iframe></div>
                                                </div>
                                                <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 30px;padding-top: 0px;">
                                                    <p class="lead mb-0" style="text-align: left;padding-bottom: 10px;">Eget nunc scelerisque viverra mauris in aliquam sem. Molestie a iaculis <br>at erat pellentesque adipiscing commodo. In iaculis nunc sed augue. In <br>iaculis nunc sed augue lacus viverra vitae. Nam libero justo laoreet sit<br> amet cursus. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Imperdiet proin fermentum leo vel orci porta non.&nbsp;<a href="#">View project on Github</a> Faucibus ornare <br>suspendisse sed nisi lacus sed viverra. Sit amet consectetur adipiscing <br>elit duis. Ligula ullamcorper malesuada proin libero&nbsp;<a href="#">View project on Github</a> nunc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div><img class="img-thumbnail img-fluid bg-light border-0" style="width: 300px;height: 300px;margin-top: -4px;" src="assets/img/project2.jpg"></div>
                    <h3>Project Two&nbsp;</h3>
                    <p class="lead text-left mb-0">Qui dolores consequatur ut aliquam repellat sit eveniet adipisci. Eos&nbsp;voluptatum voluptate rem quia sunt qui rerum asperiores 33 itaque autem&nbsp;At quia sequi.<br><a href="#projectmodal-1" data-toggle="modal">Read more</a></p>
                    <div class="modal fade" role="dialog" tabindex="-1" id="projectmodal-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="text-align: center;">Project Two</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <section class="showcase">
                                        <div class="container-fluid p-0">
                                            <div class="row">
                                                <div class="col-lg-6 text-white align-self-center order-lg-2"><video class="border rounded-0" width="390" height="315" controls="" style="margin-right: 0px;" poster="assets/img/project2.jpg"></video>
                                                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="hjn" allowfullscreen=""></iframe></div>
                                                </div>
                                                <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 30px;padding-top: 0px;">
                                                    <p class="lead mb-0" style="text-align: left;padding-bottom: 10px;">Ut voluptas alias 33 reiciendis odio et error laborum ut nesciunt sunt <br>vel cupiditate fugit qui modi iusto ut dolore nostrum! Ut debitis <br>dolores est quam quia hic laboriosam ullam qui error sint ut quod <br>molestiae ut veniam harum&nbsp;<a href="#">view project on Github&nbsp;</a>. Qui laudantium facere et unde omnis 33 omnis&nbsp;placeat ut asperiores&nbsp;<a href="#">view live demo</a> accusamus et provident pariatur ut delectus ipsum.&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div><img class="img-thumbnail img-fluid bg-light border-0" style="width: 300px;height: 300px;margin-top: -4px;" src="assets/img/project3.jpg"></div>
                    <h3>Project Three</h3>
                    <p class="lead text-left mb-0">Vel accusantium dolorum et officia aliquam et odio dolore. Et similique vero aut itaque neque aut sunt delectus hic rerum soluta ab eius <br>voluptas eum dolorum natus<br><a href="#projectmodal-2" data-toggle="modal">Read more</a></p>
                    <div class="modal fade" role="dialog" tabindex="-1" id="projectmodal-2">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="text-align: center;">Project Three</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <section class="showcase">
                                        <div class="container-fluid p-0">
                                            <div class="row">
                                                <div class="col-lg-6 text-white align-self-center order-lg-2"><video class="border rounded-0" width="390" height="315" controls="" style="margin-right: 0px;" poster="assets/img/project3.jpg"></video>
                                                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="hjn" allowfullscreen=""></iframe></div>
                                                </div>
                                                <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 30px;padding-top: 0px;">
                                                    <p class="lead mb-0" style="text-align: left;padding-bottom: 10px;">Sed officiis quia quo voluptate omnis qui aperiam nihil sed omnis amet <br>et exercitationem tempore. Vel dolores vero in illum rerum ad voluptatem<br> ipsam quo omnis cumque et aspernatur sint ea numquam fuga et esse&nbsp;pariatur. Aut libero placeat ea harum dignissimos et <a href="#">view project on Github&nbsp;</a>nisi consectetur. <br>Ut Quis exercitationem ab voluptatum&nbsp; &nbsp;aliquid est laboriosam voluptates<a href="#">Live demonstration of the project</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact_section" class="py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="font-weight-bold">Contact Me</h2>
                    <p class="lead">Et internos inventore aut quos enim ut quas eaque eum fugiat quia? Et voluptatem vero eos quod distinctio aut dolor internos.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="form-inline p-3 p-xl-4" id="contactForm" method="post" action="" enctype="multipart/form-data">
                            <div class="mb-3">
                                <div class="form-group"><label for="contactname"></label><input class="form-control" type="text" id="contactname" name="contactname" placeholder="Your Name" required=""></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group"><label for="contactemail"></label><input class="form-control" type="email" id="contactemail" name="contactemail" placeholder="Your Email" required=""></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group"><label for="contactmessage"></label><textarea class="form-control" id="contactmessage" name="contactmessage" rows="6" placeholder="Message you want to leave me" required=""></textarea></div>
                            </div>
                            <div><button class="btn btn-primary d-block w-100" type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


