{% extends "website_base.njk" %}

{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block navabar %}   {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="py-4 py-xl-5">
                    <div class="container">
                        <div class="row d-flex justify-content-center" style="padding-top: 80px;">
                            <div class="col-md-6 col-xl-4">
                                <div class="card">
                                    <div class="card-body text-center d-flex flex-column align-items-center">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><img class="rounded-circle" width="80" height="80" src="assets/img/testimonials-2.jpg"></div>
                                        <form method="post" action=" ">
                                            <div class="mb-3"><input class="form-control" type="email" id="demoemail" name="demoemail" placeholder="Email" required=""></div>
                                            <div class="mb-3"><input class="form-control" type="password" id="demopasswd" name="demopasswd" placeholder="Password" required=""></div>
                                            <div class="mb-3"><button class="btn btn-danger" id="dloginbtn" type="submit">Log in</button><button class="btn btn-success ml-4" id="demologin" type="button">Demo User Log in</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}  {% endblock %}