{% if alert %}
    <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
        {{ alert.message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<form class="form-inline p-1 p-xl-2" id="contactForm" method="post" action="/portfolio">
    <div class="mb-3">
        <div class="form-group"><label for="contactname"></label><input class="form-control" type="text" id="contactname" name="contactname" placeholder="Your Name" required=""></div>
    </div>
    <div class="mb-3">
        <div class="form-group"><label for="contactemail"></label><input class="form-control" type="email" id="contactemail" name="contactemail" placeholder="Your Email" required=""></div>
    </div>
    <div class="mb-3">
        <div class="form-group"><label for="contactmessage"></label><textarea class="form-control" id="contactmessage" name="contactmessage" rows="6" placeholder="Message you want to leave me" required=""></textarea></div>
    </div>
    <div><button class="btn btn-primary d-block w-100" id="contactsubmitbtn" type="submit">Send Message</button></div>
</form>