
{% extends "portfolio_base.njk" %}
{% set navbarurl = {id: "indexpage", about: "#about_section", projects: "#project_section", skills: "#skill_section", contact: "#contact_section", blog: "https://blog.paulgobero.com" } %}

{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block createDemoUserbutton %}
    <a class="btn btn-outline-danger ml-3" role="button" id="projectcreatedemouser" data-toggle="tooltip" data-placement="top" title="Add a demo user: This will be used to quickly test live demos" href="/portfolio/signup/demouser">Create Demo User</a>
{% endblock %}

{% block content %}
	<section id="about_section" class="showcase formsection">
	    <div class="row no-gutters">
	        <div class="col-lg-4 text-white order-lg-2">
	            <div><img class="rounded-circle img-fluid" src="{{ index_data.author.imageUrl }}"></div>
	        </div>
	        <div class="col-lg-8 my-auto order-lg-1" style="padding-left: 80px;padding-right: 50px;">
	            <h2 class="text-wrap" style="text-align: center;">A {{ index_data.author.about.short_description | title }}</h2>
	            <p class="lead">{{ index_data.author.about.full_description }}</p>
	        </div>
	    </div>
	</section>

    
    <section class="text-center bg-light features-icons" id="project_section" style="background: rgb(248, 249, 250);padding-top: 50px; padding-bottom:0px">
        <div class="row">
            <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 30px;text-align: center;padding-top: 0px;">
                <p class="lead mb-0" style="text-align: left;font-size: 20px;">
                    These are three of my recent projects: but&nbsp;<a href="#allprojectmodal" data-toggle="modal">you can view all of them</a>;
                </p> 
                <div class="modal fade" role="dialog" tabindex="-1" id="allprojectmodal">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">All Projects</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <section class="showcase">
                                    <div class="container-fluid p-0">
                                        <div class="row">
                                            <div class="col text-justify order-lg-2">
                                                <ul class="text-wrap" >
                                                    {% for proj in index_data.author_projects %}
                                                        <p> <a href="{{ proj.url}}">{{ proj.ptitle | capitalize | urlize | safe }}</a> <br> {{ proj.psummary | capitalize | urlize | safe }}  </p>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for dindex in index_data.author_projects %}
                {% if (loop.index <= 3) %}
                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div><img class="img-thumbnail img-fluid bg-light border-0" style="width: 300px;height: 300px;" src="{{ dindex.mediaUrl.imageUrl }}"></div>
                            <h3>{{ dindex.ptitle }}</h3>
                            <p class="lead mb-0">{{ dindex.psummary | capitalize | urlize | safe }}<a href="#" class="project-modal-link" data-project-id="{{ dindex._id }}"> Read more</a></p>
                            <div class="modal fade" role="dialog" tabindex="-1" id="projectmodal-{{ dindex._id }}">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{ dindex.ptitle }}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <section class="showcase">
                                                <div class="container-fluid p-0">
                                                    <div class="row">
                                                        <div class="col-lg-6" style="text-align: left;">
                                                            <p class="lead">
                                                                {{ dindex.problemStatement | urlize | safe  }}.  
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-6" style="text-align: left;">
                                                            <p class="lead">
                                                                <b> For a solution: </b> {{ dindex.solution | urlize | safe }}.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    {% if index.mediaUrl.videoUrl %}
                                                    <div class="row">
                                                        <div class="col-lg-2"> </div>
                                                        <div class="col-lg-8 text-white align-self-center">
                                                            <video class="border rounded-0" width="390" height="315" controls="" style="margin-right: 10px;" src="{{ dindex.mediaUrl.videoUrl }}"></video>
                                                        </div>
                                                        <div class="col-lg-2"> </div>
                                                    </div>
                                                    {% endif %}
                                                    <div class="row">
                                                        <div class="col-lg-6" style="text-align: left;">
                                                            <p class="lead">
                                                                My main role(s) included {{ dindex.role | urlize | safe }}. 
                                                            </p>
                                                            <p class="lead"> 
                                                                From this project I gained skills in {% for skll in dindex.skill %} {{ skll.name }} {% endfor %}
                                                            </p>
                                                        </div>
                                                        {% if dindex.githubUrl %}
                                                        <div class="col-lg-6" style="text-align: left;">
                                                            <p class="lead">
                                                                You can <a href="{{ dindex.githubUrl | urlize | safe }}">test the live demo</a> or View the code at this <a href="{{ dindex.githubUrl | urlize | safe }}">Github link</a>.
                                                            </p>
                                                        </div>
                                                        {% else %}
                                                            <div class="col-lg-6" style="text-align: left;"> </div>
                                                        {% endif %}
                                                    </div>        
                                                </div>
                                            </section>
                                        </div>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <div class="row">
        <div class="col-md-6">
            <section id="skill_section" class="py-4 py-xl-5">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col text-center">
                            <h2 class="font-weight-bold">Skills</h2>
                            <p class="lead"> This is the diverse skill set I have developed over the years that allows me to excel in various aspects of my work.</p>
                        </div>
                    </div>
                    <div class="row">
                        {% set unique_skills = [] %}
                        {% for pindex in index_data.author_projects %}
                            {% for sindex in pindex.skill %}
                                {% if sindex.name not in unique_skills %}
                                    {% set unique_skills = unique_skills + [sindex.name] %}
                                    <div class="col-lg-3">
                                        <div class=" features-icons-item mb-5 mb-lg-0 mb-lg-3">
                                            <div class="lead mb-3 text-center">
                                                <img class="img-thumbnail img-fluid bg-light border-0" style="width: 50px;height: 50px;" src="{{ sindex.imageUrl }}">
                                                <p>{{ sindex.name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>  
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section id="contact_section" class="py-4 py-xl-5">
                <div class="container-fluid ">
                    <div class="row mb-0">
                        <div class="col-md-12 col-xl-12 text-center mx-3">
                            <h2 class="font-weight-bold">Contact Me</h2>
                            <p class="lead">Thank you for taking the time to review my portfolio. If you're interested in discussing how I can contribute to your team, I would love to hear from you. <P> 
                            <P class="lead text-left">Please feel free to contact me to schedule a conversation and learn more about my experience and qualifications.</p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-xl-6">
                            <div id="contact_div">
                                {% include "partial_contact_form.njk" %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>   
{% endblock %}


