
{% extends "website_base.njk" %}
{% set posturl = {submiturl: "project/update", skillurl: "project/api/skills", specurl: "project/api/specialisations", authorurl: "project/api/authors"  } %}
{% set objarray = data.authorzproj %}

{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block content %}
	<section class="formsection">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-10">
                <h3 style="text-align: center;">All Projects</h3>
                <div id="toolbar"><button class="btn btn-secondary" id="projectbtnAdd" type="button" title="Add New Project" onclick="location.href='project/create'"><i class="icon-plus tableicons"></i>Add</button><button class="btn btn-danger" id="projectbtnDelete" type="button" title="Delete Selected  Project(s)"><i class="icon-trash tableicons"></i>Delete</button></div>
                <div class="table-responsive">
                    <table class="table table-striped" id="projecttable" data-toggle="table" data-pagination="true" data-show-refresh="true" data-id-field="true" data-maintain-selected="true" data-toolbar="#toolbar" data-search="true" data-smart-display="true" data-maintain-meta-data="true">
                        <thead>
                            <tr class="d-flex">
                                <th class="w-5" data-checkbox="true" data-field="state"></th>
                                <th id="project_id" class="w-5 hidden" data-field="projectidz">id</th>
                                <th id="cellvideoid" class="w-6" data-field="videoUrl">Uploaded Video</th>
                                <th id="cellprojecttitle" class="w-5" data-field="projecttitle">Title</th>
                                <th id="cellprojectsummary" class="w-15" data-field="projectsummary">Summary</th>
                                <th id="cellprojectproblem" class="w-15" data-field="problemstatement">Challenge Faced</th>
                                <th id="cellprojectsolution" class="w-15" data-field="projectsolution">Solution</th>
                                <th id="cellprojectrole" class="w-5" data-field="projectrole">Role Played</th>
                                <th id="cellprojectgithuburl" class="w-6" data-field="projectgithuburl">Github link</th>
                                <th id="cellprojectcontributors" class="w-5" data-field="projectcontributors">Contributors</th>
                                <th id="cellprojectskill" class="w-5" data-field="projectskill">Skill(s) Gained</th>
                                <th id="cellprojectauthors" class="w-5" data-field="projectauthors">Author(s)</th>
                                <th id="cellprojectspecs" class="w-5" data-field="projectspecs">Specializations</th>
                                <th id="cellactions" class="w-3" data-field="Actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in abtprojects %}
                                <tr class="d-flex">
                                    <td></td>
                                    <td class="hidden">{{ project._id }}</td>
                                    <td>
                                        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="{{ project.videoUrl }}" ></iframe></div>
                                    </td>
                                    <td>{{ project.ptitle }}</td>
                                    <td>{{ project.psummary }}</td>
                                    <td>{{ project.problemStatement }}</td>
                                    <td>{{ project.solution }}</td>
                                    <td>{{ project.role }}</td>
                                    <td>{{ project.githubUrl | urlize | safe }}</td>
                                    <td>{{ project.contributor }}</td>
                                    <td>
                                        <ul class="list-group">
                                            {% for skll in project.skill %} 
                                                <li class="list-group-item border-0 bg-transparent"> {{ skll.name }} </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td> 
                                        <ul class="list-group">
                                            {% for athor in project.author %} 
                                                <li class="list-group-item border-0 bg-transparent"> {{ athor.name.first }} {{ athor.name.middle }} {{ athor.name.last }} </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td> 
                                        <ul class="list-group">
                                            {% for spec in  project.specialisation %} 
                                                <li class="list-group-item border-0 bg-transparent"> {{ spec.name }} </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td><a title="Edit Row"><i class="icon-pencil tableicons projectedit" style="padding-left: 25px;padding-right: 0px;"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="modal fade" role="dialog" tabindex="-1" id="projectUpdateModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Project Details</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        {% include "reuse_project.njk" %}
                                        <div class="form-group row">
                                            <div class="col-5 col-sm-5 col-md-4"><label class="col-form-label" for="projectUpdateid"><strong>Project Update ID:</strong></label></div>
                                            <div class="col-7 col-sm-7 col-md-8"><input class="form-control" type="text" id="projectUpdateid" name="projectUpdateid" readonly="" placeholder="Project Update Id"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Save changes</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

{% endblock %}
