
{% extends "website_base.njk" %}
{% set posturl = {submiturl: "project/update" } %}

{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block content %}
	<section class="formsection">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-10">
                <h3 style="text-align: center;">All Projects</h3>
                <div id="toolbar"><button class="btn btn-secondary" id="projectbtnAdd" type="button" title="Add New Project" onclick="location.href='project/create'"><i class="icon-plus tableicons"></i>Add</button><button class="btn btn-danger" id="projectbtnDelete" type="button" title="Delete Selected  Project(s)"><i class="icon-trash tableicons"></i>Delete</button></div>
                <div class="table-responsive">
                    <table class="table table-striped" id="projecttable" data-toggle="table" data-pagination="true" data-show-refresh="true" data-id-field="true" data-maintain-selected="true" data-toolbar="#toolbar" data-search="true" data-smart-display="true" data-maintain-meta-data="true">
                        <thead>
                            <tr>
                                <th data-checkbox="true" data-field="state"></th>
                                <th id="project_id" data-field="projectidz">id</th>
                                <th id="cellvideoid" data-field="videoUrl">Uploaded Video</th>
                                <th id="cellprojecttitle" data-field="projecttitle">Title</th>
                                <th id="cellprojectsummary" data-field="projectsummary">Summary</th>
                                <th id="cellprojectproblem" data-field="problemstatement">Challenge Faced</th>
                                <th id="cellprojectsolution" data-field="projectsolution">Solution</th>
                                <th id="cellprojectrole" data-field="projectrole">Role Played</th>
                                <th id="cellprojectgithuburl" data-field="projectgithuburl">Github link</th>
                                <th id="cellprojectcontributors" data-field="projectcontributors">Contributors</th>
                                <th id="cellprojectskill" data-field="projectskill">Skill(s) Gained</th>
                                <th id="cellprojectauthors" data-field="projectauthors">Author(s)</th>
                                <th id="cellprojectspecs" data-field="projectspecs">Specializations</th>
                                <th id="cellactions" data-field="Actions" style="width: 30%;min-width: 10px;max-width: 30px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in abtprojects %}
                                <tr>
                                    <td></td>
                                    <td>{{ project._id }}</td>
                                    <td><img class="rounded-circle img-fluid" src="&quot;{{ author.imageUrl }}&quot; " width="40" height="40"></td>
                                    <td>{{ project.ptitle }}</td>
                                    <td>{{ project.psummary }}</td>
                                    <td>{{ project.problemStatement }}</td>
                                    <td>{{ project.solution }}</td>
                                    <td>{{ project.role }}</td>
                                    <td>{{ project.githubUrl | urlize | safe }}</td>
                                    <td>{{ project.contributor }}</td>

                                    {% for skll in project.skill %}
                                        <td>{{ skll.name }}</td>
                                    {% endfor %}

                                    {% for athor in project.author %}
                                        <td>{{ athor.name.first }} {{ athor.name.middle }} {{ athor.name.last }}</td>
                                    {% endfor %}

                                    {% for spec in  project.specialisation %}
                                        <td>{{ spec.name }}</td>
                                    {% endfor %}

                                    <td><a title="Edit Row"><i class="icon-pencil tableicons projectedit" style="padding-left: 25px;padding-right: 0px;"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="modal fade" role="dialog" tabindex="-1" id="projectUpdateModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Project Details</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        {% include "reuse_project.njk" %}
                                        <div class="form-group row">
                                            <div class="col-5 col-sm-5 col-md-4"><label class="col-form-label" for="projectUpdateid"><strong>Author Update ID:</strong></label></div>
                                            <div class="col-7 col-sm-7 col-md-8"><input class="form-control" type="text" id="projectUpdateid" name="projectUpdateid" readonly="" placeholder="Project Update Id"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="submit">Save changes</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

{% endblock %}
