

<form method="post" action="/portfolio/login">
    <div class="mb-3"><input class="form-control" type="email" id="{{ logindetails.emailid }}" name="email" placeholder="Email" autocomplete="username" required></div>
    <div class="mb-3"><input class="form-control" type="password" id="{{ logindetails.passwdid }}" name="password" placeholder="Password" autocomplete="current-password" required></div>
