

<div class="modal fade" role="dialog" tabindex="-1" id="loginout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p class="lead">You are about to be logged out as an Adminstrator,</p>
                <p class="lead">Would you like to stay signed in?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="modalbtnstaysignedin" type="button" data-dismiss="modal">Stay signed in</button>
                <button class="btn btn-success" id="modalbtnlogout" type="button" data-dismiss="modal" onclick="location.href='/website/logout'">Logout</button>
            </div>
        </div>
    </div>
</div>