

<form method="post" action=" ">
    <div class="mb-3"><input class="form-control" type="email" id="{{ logindetails.emailid }}" name="email" placeholder="Email" required=""></div>
    <div class="mb-3"><input class="form-control" type="password" id="{{ logindetails.passwdid }}" name="password" placeholder="Password" required=""></div>