<div class="modal fade" role="dialog" tabindex="-1" id="{{ posturl.deletemodalid }}">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirm Deletions</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <section class="showcase">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col text-justify order-lg-2">
                            <P class="lead text-left">Are You sure you want to delete these records?</p>
                            <P class="lead text-left">Deleting will permanently remove the records from the database</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button id="{{ posturl.confirmdelete }}" class="btn btn-primary" type="submit">Delete Records</button></div>
    </div>
</div>