
{% extends "website_base.njk" %}
{% set navbarurl = {about: "#about_section", projects: "#project_section", contact: "#contact_section" } %}

{% block title %}<title>{{ Title }}</title> {% endblock %}

{% block createDemoUserbutton %}
    <a class="btn btn-outline-danger ml-3" role="button" id="projectcreatedemouser" data-toggle="tooltip" data-placement="top" title="Add a demo user: This will be used to quickly test live demos" href="/website/signup/demouser">Create Demo User</a>
{% endblock %}

{% block content %}
	<section id="about_section" class="showcase formsection">
	    <div class="row no-gutters">
	        <div class="col-lg-4 text-white order-lg-2">
	            <div><img class="rounded-circle img-fluid" src="{{ index_data.author.imageUrl }}"></div>
	        </div>
	        <div class="col-lg-8 my-auto order-lg-1" style="padding-left: 80px;padding-right: 50px;">
	            <h2 class="text-wrap" style="text-align: center;">A {{ index_data.author.about.short_description | title }}</h2>
	            <p class="lead">{{ index_data.author.about.full_description | capitalize }}</p>
	        </div>
	    </div>
	</section>

    
    <section class="text-center bg-light features-icons" id="project_section" style="background: rgb(248, 249, 250);padding-top: 50px; padding-bottom:0px">
        <div class="row">
            <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 30px;text-align: center;padding-top: 0px;">
                <p class="lead mb-0" style="text-align: left;font-size: 20px;">
                    These are three of my recent projects: but&nbsp;<a href="#allprojectmodal" data-toggle="modal">you can view all of them</a>;
                </p> 
                <div class="modal fade" role="dialog" tabindex="-1" id="allprojectmodal">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">All Projects</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <section class="showcase">
                                    <div class="container-fluid p-0">
                                        <div class="row">
                                            <div class="col text-justify order-lg-2">
                                                <ul class="text-wrap" >
                                                    {% for proj in index_data %}
                                                        <p> <a href="{{ proj.url}}">{{ proj.ptitle | capitalize | urlize | safe }}</a> <br> {{ proj.psummary | capitalize | urlize | safe }}  </p>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for dindex in index_data.author_projects %}
                {% if (loop.index <= 3) %}
                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div><img class="img-thumbnail img-fluid bg-light border-0" style="width: 300px;height: 300px;" src="{{ dindex.mediaUrl.imageUrl }}"></div>
                            <h3>{{ dindex.ptitle }}</h3>
                            <p class="lead mb-0">{{ dindex.psummary | capitalize | urlize | safe }} <a href="#projectmodal" data-toggle="modal">Read more</a></p>
                            <div class="modal fade" role="dialog" tabindex="-1" id="projectmodal">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{ dindex.ptitle }}</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <section class="showcase">
                                                <div class="container-fluid p-0">
                                                    <div class="row">
                                                        <div class="col-lg-6 text-white align-self-center order-lg-2"><video class="border rounded-0" width="390" height="315" controls="" style="margin-right: 10px;" src="{{ dindex.mediaUrl.videoUrl }}"></video></div>
                                                        <div class="col-lg-6 my-auto order-lg-1 showcase-text" style="padding: 30px;text-align: center;padding-top: 0px;">
                                                            <p class="lead mb-0" style="text-align: left; padding-bottom: 20px">
                                                                {{ dindex.problemStatement | urlize | safe  }}.  
                                                            </p> 
                                                            <p class="lead mb-0">
                                                                For a solution {{ dindex.solution | urlize | safe }}. My main role(s) included {{ dindex.role | urlize | safe }} and i gained skills in {% for skll in dindex.skill %} {{ skll.name }} {% endfor %}
                                                            </p>    
                                                            <p class="lead mb-0" style="text-align: left; padding-top: 20px">
                                                                View the code at this <a href="{{ dindex.githubUrl | urlize | safe }}">Github link</a>.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section id="contact_section" class="py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="font-weight-bold">Contact Me</h2>
                    <p class="lead">You can leave a message; I try to reply as soon as possible</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="form-inline p-3 p-xl-4" id="contactForm" method="post" action=" ">
                            <div class="mb-3">
                                <div class="form-group"><label for="contactname"></label><input class="form-control" type="text" id="contactname" name="contactname" placeholder="Your Name" required=""></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group"><label for="contactemail"></label><input class="form-control" type="email" id="contactemail" name="contactemail" placeholder="Your Email" required=""></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group"><label for="contactmessage"></label><textarea class="form-control" id="contactmessage" name="contactmessage" rows="6" placeholder="Message you want to leave me" required=""></textarea></div>
                            </div>
                            <div><button class="btn btn-primary d-block w-100" type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


