.formsection {
  padding-top: 80px;
}

.tableid {
  display: none;
}

.formValidationError {
  color: red;
}

#dloginbtn {
  display: none;
}

#projectlogout {
  display: none;
}

.loginerrors {
  color: red;
}
.w-5p {
  width: 50px;
}
.w-10p {
  width: 100px;
}
.w-20p {
  width: 200px;
}
.w-30p {
  width: 300px;
}
.w-60p {
  width: 600px;
}
.w-80pec {
  width: 80%;
}
.w-20pec {
  width: 20%;
}
