
#node.js app
DB_USER=<replace with database username>
DB_PASSWORD=<replace with database password>
DB_HOST=<replace with host name, ie name of mongo service in docker-compose.yml file>
DB_PORT=<replace with database port, ie 27017>
DB_NAME=<replace with database name>
NODE_PORT=<replace with nodejs port, ie 3000>

#mongodb configs
MONGO_INITDB_ROOT_USERNAME=<replace with database username>
MONGO_INITDB_ROOT_PASSWORD=<replace with database password>
MONGO_INITDB_DATABASE=<replace with database name>

#mongodb webUI configs
ME_CONFIG_MONGODB_ADMINUSERNAME=<replace with WEB_UI username>
ME_CONFIG_MONGODB_ADMINPASSWORD=<replace with WEB_UI password>
ME_CONFIG_MONGODB_URL=mongodb://<username>:<password>@<DB_HOST>:<DB_PORT>/
